<div class="text-center mt-5">
    <h1>Industries</h1>
</div>
<div class="content slide-right">
<h3>Our Expertise Across Various Verticals</h3>
<p>Global Insights takes pride in the fact that nearly all of the company's employees have an experience of 3 years or more.<br><br>

With such an intellectual asset it makes very easy for Global Insights to serve our clients efficiently across various industry verticals.</p>
<p>Global Insights's Employees have a rich domain Expertise in the following sectors
</p>
<div class="industry">
<p>
                    <i class="fa fa-flask"></i>&nbsp;&nbsp;Life Sciences, Healthcare, Biotech &amp; Pharmaceuticals <br><br>
                     <i class="fa fa-leaf"></i>&nbsp;&nbsp;Financial, Mortgage &amp; Insurance<br><br>
                        <i class="fa fa-wheelchair"></i>&nbsp;&nbsp;Retirement Benefits<br><br>
                        <i class="fa fa-book"></i>&nbsp;&nbsp;Education<br><br>
                <i class="fa fa-signal"></i>&nbsp;&nbsp;Telecommunications/Wireless<br><br>
                        <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Retail/eCommerce<br><br>
                    <i class="fa fa-gears"></i>&nbsp;&nbsp;Manufacturing/ Distribution<br><br>
                    <i class="fa fa-truck"></i>&nbsp;&nbsp;Transportation<br><br>
                        <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Information Technology/Software Development<br><br>
                    <i class="fa fa-sitemap"></i>&nbsp;&nbsp;Government<br><br>
                        <i class="fa fa-users"></i>&nbsp;&nbsp;Consumer Products<br><br>
                        <i class="fa fa-microphone"></i>&nbsp;&nbsp;Entertainment &amp; Media<br><br>
                    <i class="fa fa-magnet"></i>&nbsp;&nbsp;Utilities/Energy<br><br>
                    <i class="fa fa-plane"></i>&nbsp;&nbsp;Aerospace &amp; Defense<br><br>
                        <i class="fa fa-glass"></i>&nbsp;&nbsp;Hospitality<br><br>
                    <i class="fa fa-wrench"></i>&nbsp;&nbsp;	Business Services 	<br><br>	
                    </p>
                    </div>

</div>