#hm-card{
    margin-left:auto;
    margin-right:auto ;
    max-width: 1280px;
   
}
.dummy img{
    height: 240px;
}
.border{
    border-radius: 0px 0px 0.25rem 0.25rem !important;
    border-width: 0px 2px 2px !important;
    border-style: dashed !important;
    border-color: rgb(162 115 255 / var(--tw-border-opacity)) !important;
    min-height: 450px;
}
.dummy{
    /* //border: solid;
    margin-left: 10px;
    margin-right: 10px; */
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.dummy:hover{
border: solid;
border-color: aqua;
}


.slide-right {
    animation: 0.5s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  