<div class="text-center mt-5">
    <h1>{{'Who we are'|uppercase}}</h1>
</div>
<div class="row pt-5 pb-5 slide-left">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img alt="" src="../../assets/whoweare.jpg" style="max-width: 100%;">
    </div>
    <div class="col-md-5 col-sm-12 wh-pl-pr text-md-start text-sm-center">
        <div class="content wysiwyg">
            <h2>Who We Are?</h2>

            <h3>Founded in 2021, Global Insights has delivered hundreds of solutions to over 1000 satisfied customers.
                Our customers have rewarded us with 11 consecutive years of profitable growth.</h3>
            <p>Our solutions - including Software Quality Assurance, Business Analysis, Project and Portfolio
                Management, Mobile Application Development, Computer System Validation(CSV), CRM Implementation - have
                been successfully implemented at Global 500 firms as well as midsize to small size organizations.</p>
            <p>Key to our success is our full project life-cycle methodology, reflecting our years of experience and
                recognized best practices. We combine business and technical excellence, expertise with best-of-breed
                technology, and industry-specific experience to meet and exceed our customers' expectations.
            </p>
            <p><strong>Business excellence:</strong> This enables us to understand user perspectives and assure that our
                solutions achieve our customers' business goals, key metrics, and critical success factors.</p>
            <p>
                <strong>Technical excellence: </strong>We consistently and cost effectively implement solutions that
                allow our customers to get the most from their investment.
            </p>
            <p>
                <strong>Expertise with best-of-breed technology:</strong> We leverage our expertise with leading vendor
                software products, making optimal use of technology to solve our customers' problems.
            </p>

            <p><strong>Industry-specific experience:</strong> We have in-depth knowledge and experience with a variety
                of industries, allowing us to design, build and implement solutions that fully satisfy customers'
                specific business requirements.</p>



        </div>
        <div class="d-flex row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex col-md-12 col-xs-12">
                    <div class="busines-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                        </svg></div>
                    <div class="wh-bsns-icon">
                        Business excellence</div>
                </div>
                <div class="wh-span-text">
                    We have the best professional marketing people across the globe just to work with you.</div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex col-md-12 col-xs-12">
                    <div class="busines-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-dollar-sign">
                            <line x1="12" y1="1" x2="12" y2="23"></line>
                            <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                        </svg>
                    </div>
                    <div class="wh-bsns-icon">Industry-specific</div>
                </div>
                <div class="wh-span-text">
                    We promise to offer you the best rate we can - at par with the industry standard.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>