<div class="bg-ctus-image slide-left">
    <div class="ct-width text-center row pt-5">
        <h1>Contact Details</h1>
        <div class="col-md-4">
            <h3>
                Contact Us
            </h3>
            <h4>
                test@globalinsightusa.com
            </h4>
        </div>
        <div class="col-md-4">
            <h3>
                Contact Us
            </h3>
            <h4>
                test@globalinsightusa.com
            </h4>
        </div>
        <div class="col-md-4">
            <h3>
                Contact Us
            </h3>
            <h4>
                test@globalinsightusa.com
            </h4>
        </div>
    </div>
    <button class="btn btn-primary" (click)="openModal()">Fill Details</button>
    <app-modal #modalRef></app-modal>
</div>