<div class="row t-f slide-right">
    <div class="col-md-8 p-5">
        <h2 class="t-c"><b>Careers</b></h2>
        <div class="main-content">
            <h3>Global Insights takes pride in our capabilities to find and deliver the best people to our clients,
                cultivate your skill set and find other opportunities that fits your needs and career path. </h3>
            <p>We call on our top performers to help us close business, make them Subject Matter Experts and help
                identify
                new growth. Our Engagement Leader Model is something we are proud of. Engagement Leaders are responsible
                for
                the onsite team of people at a given location, helping each team member with their struggles and
                capitalizing on their strengths. Our proven success with this position is evident by the constant
                positive
                feedback we receive from hiring managers.</p>
            <p>In addition to giving you the tools you need to excel, including in-depth, continuing education, we
                inspire
                innovation and value new ideas, encouraging you to apply creative concepts in achieving tangible
                results. We
                welcome your inquiries about the exciting opportunities available with us. Only qualified applicants
                will
                receive a response.</p>
           
        </div>
        <p>
            <b>We are an equal opportunity employer (EOE)</b>
        </p>
        <p class="t-c"><b>Benefits</b> </p>
        <p>We offer competitive pay and comprehensive benefits such as:
        </p>
        <ul>
            <li>W2 Employment </li>
            <li>Independent Contract Employment </li>
            <li>Insurance options including Medical, Dental, Prescription Drug, Life, Vision, Workmen`s Compensation,
                Short-term and Long term Disability ( All offered through premier Insurance companies like Anthem BCBS,
                UnitedHealth) </li>
            <li>Direct Deposits </li>
            <li>Skills Enhancement Training </li>
            <li>Vacation Pay </li>
            <li>Employment Referral Bonus Program </li>
            <li>Relocation Assistance </li>
            <li>Immigration Assistance: We are 100% compliant with all USCIS and Dept. of Labor rules and regulations.
                We offer all our overseas employees H-1B sponsorship and an opportunity to file for their Green Card
                (Permanent Residency). Our immigration attorney is highly respected in the legal community and provides
                our consultants with balanced and fair legal advice </li>
            <li>Jury Duty time off- All employees receive salary continuance up to 3 days for jury duty service. </li>
            <li>401K (Coming up shortly) </li>
        </ul>
        <p>Global Insights LLC is proud to announce that it is a member of the E-VERIFY PROGRAM
        </p>


    </div>

    <!-- END PAGE CONTENT -->

    <!-- BEGIN SIDEBAR -->

    <div class="col-md-4 p-5">

        <div class="content">
            <h3 class="t-c"><b>Current job openings</b></h3>
            <div class="main-content">
                <p> Global Insights LLC is always on the lookout for dedicated, smart and motivated people to help
                    develop, market and support its world-class products and services. Kindly visit this page to know
                    about the latest positions available.</p>

            </div>
        </div>





    </div>

    <!-- END SIDEBAR -->
</div>